<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar (click)="selectImageSource()" class="profile-pic" >
    <ion-img src="https://scontent.fnyc1-1.fna.fbcdn.net/v/t1.0-1/p240x240/15941177_1079710782139302_266709256049992526_n.jpg?_nc_cat=104&_nc_oc=AQkrCXacBQyyuLoPHpFSPIU_DnDW8mRPrqheFCYMGVm2pdWgL15c_Dhj-_AMa5revUk&_nc_ht=scontent.fnyc1-1.fna&oh=84f7edae91312c72fc81debf3ba1e7d2&oe=5DD7B208"></ion-img>
    
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Abrar Zahin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The author of whats going on app.
    </ion-card-content>
  </ion-card>
</ion-content>
