<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar (click)="selectImageSource()" class="profile-pic" >
    <ion-img [src]="(myStoredProfileImage | async)?.image_src"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Abrar Zahin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The author of whats going on app.
    </ion-card-content>
  </ion-card>
</ion-content>
