<ion-header>
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-avatar class="profile-pic" >
    <ion-img src="https://scontent.fnyc1-1.fna.fbcdn.net/v/t1.0-1/p240x240/15941177_1079710782139302_266709256049992526_n.jpg?_nc_cat=104&_nc_oc=AQkTbXbJzDylbM65fJHbJlzfnjv3Wh1VTDa3ik2epR1q98f3pWuw3rC6J95thgMwY-A&_nc_ht=scontent.fnyc1-1.fna&oh=72d456584c5c2f0aab8349baec08146c&oe=5DD7B208"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Abrar Zahin</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The author of whats going on app.
    </ion-card-content>
  </ion-card>
</ion-content>
